.forgotpasswordscreen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotpasswordscreen__form {
    width: 380px;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.forgotpasswordscreen__title {
    text-align: center;
    margin-bottom: 1rem;
}

.form__group,
.form__group label,
.form__group input {
    width: 100%;
    margin-bottom: 0.5rem;
}

.form__group label {
   font-weight: bold;
}
.form__group input {
    padding: 10px 20px;
    border:none;
    border-bottom: 1px solid transparent;
    background-color: #eee;
    outline-width: 0;
    font-size: 1rem;
}
.form__group input:not(:first-child):hover {
    border-bottom: 3px solid #dd219e;
}

 .form__group input{
    margin-top: 0.5rem;
 }
 .form__group input[type=submit]:hover {
     background-color: #171717;
     color: #fff;
 }

 .forgotpasswordscreen__success {
     margin: 4rem;
     padding: 0.5rem;
     text-align: center;
     background-color: green;
     color: #fff;

 }
 .forgotpasswordscreen__error {
     padding: 0.5rem;
     text-align: center;
     background-color: red;
     color: #fff;

 }
 .forgotpasswordscreen__subtext {
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
    margin: 1rem;
 }